#form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}
.true{
   display: none;
   
}
.on{
   display: flex;
   flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid grey;
   border-radius: 15px;
   padding: 9px;
   width: 140px;
   line-height: 25px;
}
.btn{
   margin-top: 10px;
   padding: 3px 30px;
   border-radius: 10px;
   border: none;
   background-color: rgb(207, 59, 59);
   color: white;
}
.btn:hover{
   background-color: rgb(224, 106, 106);
   transition: ease-in-out .4s;
}
#askday{
   border: 1px solid grey;
   border-radius: 10px;
   padding: 3px 8px;
   text-transform: lowercase;
}
